@font-face {
    font-family: "Museo Sans Cyrl";
    src: local("Museo Sans Cyrl"),
    url("../fonts/museo-sans-cyrl-300.woff2") format("woff2"),
    url("../fonts/museo-sans-cyrl-300.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: local("Museo Sans Cyrl"),
    url("../fonts/museo-sans-cyrl-500.woff2") format("woff2"),
    url("../fonts/museo-sans-cyrl-500.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: local("Museo Sans Cyrl"),
    url("../fonts/museo-sans-cyrl-700.woff2") format("woff2"),
    url("../fonts/museo-sans-cyrl-700.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Museo Sans Cyrl";
    src: local("Museo Sans Cyrl"),
    url("../fonts/museo-sans-cyrl-900.woff2") format("woff2"),
    url("../fonts/museo-sans-cyrl-900.woff") format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
